<% title "Edit Performance" %>

<div id="performance_form">
  <%= form_for [:admin, @performance], :html => { :id => "performance_form_details" } do |f| %>
    <div id="performance_form_details_errors" class="alert alert-error" style="display:none"></div>
    <%= f.text_field :title, :class => "span12", :placeholder => "Title of the Performance" %>
    <%= f.text_area :text, :class => "span12 mdm-input", :rows => "10", :placeholder => "Description of the Performance" %>
    <%= f.submit "Update", :class => "btn btn-primary pull-right", :id => "button_details" %>
  <% end %>

  <script>
    $(function(){
      ajaxify( $("#performance_form_details"), $("#performance_form_details_errors") );
    });
  </script>

  <div class="pics">
    <h2>Pics</h2>
    <script type="text/template" id="template_image">
      <div class="item {{state}}">
        <div class="image" style="background-image: url( '{{file_url}}' )"></div>
        <div class="controls">
          <a href="#delete" class="delete"><img src="/assets/delete.png" /></a>
        </div>
      </div>
    </script>

    <script type="text/template" id="template_image_uploading">
      <div class="item {{state}}">
        <div class="image" style="background-image: url( '{{file_url}}' )"></div>
        <div class="progress"><div class="progress-bar" style="width:{{progress}}%"></div></div>
        <div class="state">{{state}}</div>
      </div>
    </script>

    <div class="list">
    </div>
    <div class="drop-wrapper">
      <div class="drop"></div>
      <div class="drop-message">Drop image files here</div>
    </div>

    <script>
      $(function(){
        new BBAssetsUpload({
          url: "<%= admin_performance_pics_path(@performance) %>",
          listElement: $("#performance_form .pics .list"),
          dropElement: $("#performance_form .pics .drop"),
          assetTemplate: $("#template_image").html(),
          assetUploadingTemplate: $("#template_image_uploading").html(),
          maxFileSize: 500,
          acceptFileTypes: "jpg, jpeg, png",
          onSuccess: function( asset ) { console.log( "asset", asset ) },
        });
      });
    </script>
  </div><!-- pics -->

  <div class="clear"></div>


  <div class="video_main">
    <h2>Main Video</h2>
    <div class="video_form main row">
      <%= form_for [:admin, @performance], :html => { :id => "performance_form_video" } do |f| %>
        <div class="video_player span8">
          <% if @performance.video_script %>
            <%= @performance.video_script.html_safe %>
          <% end %>
        </div>
        <div class="video_details span4">
          <div id="performance_form_video_errors" class="alert alert-error" style="display:none"></div>
          <%= f.text_area :video_script, :class => "span4", :rows => "6", :placeholder => "The video script" %>
          <%= f.text_area :video_text, :class => "span4 mdm-input", :rows => "7", :placeholder => "The video description" %>
          <%= f.submit "Update", :class => "btn btn-primary pull-right", :id => "button_video" %>
        </div>
      <% end %>
    </div>

    <script>
      $(function(){
        ajaxify( $("#performance_form_video"), $("#performance_form_video_errors") );
      });
    </script>
  </div><!-- video_main -->

  <div class="clear"></div>

  <%= render :partial => "/admin/performances/video_extras", :locals => { :performance => @performance } %>

  <div class="footer">
    <%= link_to "Show", [:front, @performance], :target => "_blank" %> |
    <%= link_to "View All", admin_performances_path %> |
    <%= link_to "Remove Performance", [:admin, @performance], :method => :delete, :class => "btn btn-mini btn-danger", :confirm => "Are you sure?" %>
  </div>
</div>