<% title "Edit Admin/Performance" %>

<div id="performance_form">
  <%= form_for [:admin, @performance] do |f| %>
    <%= f.error_messages %>
    <%= f.text_field :title, :class => "span12", :placeholder => "Title of the Performance" %>
    <%= f.text_area :text, :class => "span12", :rows => "10", :placeholder => "Description of the Performance" %>
    <%= f.submit "Update", :class => "btn btn-primary pull-right" %>
  <% end %>

  <div class="pics">
    <h2>Pics</h2>
    <script type="text/template" id="template_image">
      <div class="item {{state}}">
        <div class="image" style="background-image: url( '{{file_url}}' )"></div>
        <div class="controls">
          <a href="#delete" class="delete"><img src="/assets/delete.png" /></a>
        </div>
      </div>
    </script>

    <script type="text/template" id="template_image_uploading">
      <div class="item {{state}}">
        <div class="image" style="background-image: url( '{{file_url}}' )"></div>
        <div class="progress"><div class="progress-bar" style="width:{{progress}}%"></div></div>
        <div class="state">{{state}}</div>
      </div>
    </script>

    <div class="list">
    </div>
    <div class="drop-wrapper">
      <div class="drop"></div>
      <div class="drop-message">Drop image files here</div>
    </div>

    <script>
      $(function(){
        new BBAssetsUpload({
          url: "<%= admin_performance_pics_path(@performance) %>",
          listElement: $("#performance_form .pics .list"),
          dropElement: $("#performance_form .pics .drop"),
          assetTemplate: $("#template_image").html(),
          assetUploadingTemplate: $("#template_image_uploading").html(),
          maxFileSize: 500,
          acceptFileTypes: "jpg, jpeg, png",
          onSuccess: function( asset ) { console.log( "asset", asset ) },
        });
      });
    </script>
  </div><!-- pics -->

  <div class="clear"></div>


  <div class="video_main">
    <h2>Main Video</h2>
    <div class="video_form main row">
      <%= form_for [:admin, @performance] do |f| %>
        <div class="video_player span7">
          <%= @performance.video_script.html_safe %>
        </div>
        <div class="video_script span5">
          <%= f.text_area :video_script, :class => "span5", :rows => "4", :placeholder => "The video script" %>
          <%= f.submit "Update", :class => "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div><!-- video_main -->

  <div class="clear"></div>

  <div class="video_extras">
    <h2>Extra Videos</h2>
    <p>
      <a href="#new_extra_video" class="btn btn-primary" data-toggle="modal">New Extra Video</a>
      <%= render :partial => "/admin/videos/new", :locals => { :performance => @performance } %>
    </p>

    <div class="row-fluid">
      <ul class="thumbnails">
        <% @performance.videos.each do |video| %>
          <li class="span6">
            <div class="thumbnail">
              <%= image_tag video.pic(:slider) %>
              <div class="caption">
                <h3><%= video.title %></h3>
                <p><%= video.text.to_md %></p>
                <p>
                  <%= link_to "Remove", [:admin, @performance, video], :method => :delete, :class => "btn btn-danger" %>
                </p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <p>
    <%= link_to "Show", [:admin, @performance] %> |
    <%= link_to "View All", admin_performances_path %>
  </p>
</div>