<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= content_for?(:title) ? yield(:title) : "BedAndBreakfast" %></title>

    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/assets/bootstrap/js/jquery.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>

    <!-- BBAssetsUpload -->
    <script src="/assets/bbassetsupload/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/bbassetsupload/backbone.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/bbassetsupload/jquery.ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/bbassetsupload/jquery.upload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/bbassetsupload/bbassetsupload.js" type="text/javascript" charset="utf-8"></script>

    <!-- MDMagick -->
    <script src="/assets/mdmagick/vendor/a-tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/mdmagick/vendor/showdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/mdmagick/lib/mdmagick.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/assets/mdmagick/assets/mdmagick.css" ></style>
    <link rel="stylesheet" href="/assets/mdmagick/assets/icon_font/style.css" ></style>

    <!-- Rails -->
    <script src="/assets/rails/jquery_ujs.js" type="text/javascript" charset="utf-8"></script>

    <!-- BandB -->
    <link href="/assets/bandb_back.css" rel="stylesheet">
    <link href="/assets/bandb_back_image_upload.css" rel="stylesheet">
    <script src="/assets/bandb_back.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/bandb_back_video_extras.js" type="text/javascript" charset="utf-8"></script>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>

  <body>
    <div id="loading"><img src="/assets/spinner_min.gif" /></div>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Break and Breakfast – Control panel</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><%= link_to "Performances", admin_performances_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div> <!-- /container -->

  </body>
</html>
